@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
#container {
  width: 1600px;
  margin: 0 auto;
  font-family: "Noto Serif KR", serif;
}
/* header {
  width: 1000px;
  height: 550px;
  text-align: center;
  background-image: url('/movie/image/헤더.jpg');
  background-position: center;
  color: white;
  margin-bottom: 10px;
} */
body {
  background-image: url(/movie/image/헤더.jpg);
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  background-size: cover;
}

h1 {
  /* line-height: 500px; */
  color: white;
  margin-top: 100px;
}

section {
  width: 1600px;
  height: 250px;
  text-align: center;
  margin-bottom: 10px;
}

footer {
  width: 1000px;
  height: 200px;
  text-align: center;

}

article {
  width: 1000px;
  float: left;
}

a {
  text-decoration: none;
  color: black;
  display: inline;
}

a {
  color: white;
  font-size: large;
  font-weight: bolder;
}
span{
  border: 1px solid #fff;
  display: inline-block;
  width: 300px;
  margin: 200px 20px 0 0 ;
  height: 300px;
  line-height: 300px;
  background-color: rgba(255,255,255,0.5);
  
}
li{
  list-style: none;
  background-color: black;
  color: white;
  margin: 0px;
  margin-bottom: 10px;
  padding: 20px;
}
span:hover{
  background-color: white;
  color: black;
  font-size: 28px;
}
ul{
  margin:0px;
  padding-left: 0px;
}
